/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-card {
    text-align: center;
    width: 60%;
    margin: 0 auto !important;
    border-radius: 20px !important;
  }

.navbar {
    border-radius: 0px;
}

