<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 orders-table">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="leftHeader"> Item </th>
      <td mat-cell *matCellDef="let element" class="leftCell"> {{element.product.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="price">
      <th class="leftHeader" mat-header-cell *matHeaderCellDef > Price </th>
      <td mat-cell *matCellDef="let element" class="leftCell"> {{element.product.price}} </td>
    </ng-container>
  
    <ng-container matColumnDef="description">
      <th class="leftHeader" mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element" class="leftCell"> {{element.product.description}} </td>
    </ng-container>

    <ng-container matColumnDef="quantity">
        <th class="leftHeader" mat-header-cell *matHeaderCellDef> Quantity </th>
        <td mat-cell *matCellDef="let element" class="leftCell"> {{element.quantity}} </td>
    </ng-container>

    <ng-container matColumnDef="cart">
      <th class="leftHeader" mat-header-cell *matHeaderCellDef> Add to cart </th>
      <td mat-cell *matCellDef="let element" class="leftCell"> <a (click)="addToCart(element.product.id)"><mat-icon>add_shopping_cart</mat-icon></a> </td>
  </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<button (click)="proceedToCart()">proceedToCart</button>
