<h1 style="text-align: center;">Your order</h1>
<table mat-table *ngIf="dataSource" [dataSource]="dataSource" class="mat-elevation-z8 orders-table">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="leftHeader"> Item </th>
      <td mat-cell *matCellDef="let element" class="leftCell"> {{element.productid}} </td>
    </ng-container>
  
    <ng-container matColumnDef="price">
      <th class="leftHeader" mat-header-cell *matHeaderCellDef > Price </th>
      <td mat-cell *matCellDef="let element" class="leftCell"> {{element.productid}} </td>
    </ng-container>
  

    <ng-container matColumnDef="quantity">
        <th class="leftHeader" mat-header-cell *matHeaderCellDef> Quantity </th>
        <td mat-cell *matCellDef="let element" class="leftCell"> {{element.quantity}} </td>
    </ng-container>

    <ng-container matColumnDef="remove">
      <th class="leftHeader" mat-header-cell *matHeaderCellDef> Remove from cart </th>
      <td mat-cell *matCellDef="let element" class="leftCell"> <a><mat-icon>remove_shopping_cart</mat-icon></a> </td>
  </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<button (click)="submitOrder()">Submit order</button>
