<mat-sidenav-container>
  <mat-sidenav #sidenav mode='side' [opened]="isLoggedIn" *ngIf="isLoggedIn">
      <app-nav></app-nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header [cartPath]="cartPath" [icon]="title_icon" [cartTooltipText]="cartTooltipText" [userPath]="userPath" [userTooltipText]="userTooltipText" *ngIf="isLoggedIn">
    </app-header>
      <div class="content">
          <router-outlet></router-outlet>
      </div>
  </mat-sidenav-content>
</mat-sidenav-container>