<section class="headSection">
    <div class="headText">
        Mpoukalia me nero?
    </div>
</section>
<br>
<mat-card *ngIf="role=='Seller'">
    <mat-card-title class="card_title">Register {{role}}</mat-card-title>
    <form #userData="ngForm" class="registerForm">
        <mat-card-subtitle>Account</mat-card-subtitle>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input type="email" name="email" ngModel pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" matInput
                required>
        </mat-form-field>
        <br>

        <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input type="text" name="username" matInput required>
        </mat-form-field>
        <br>

        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input type="password" name="password" matInput required>
        </mat-form-field>
        <br>

        <mat-form-field appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input type="password" name="passwordConfirm" matInput required>
        </mat-form-field>

        <mat-divider></mat-divider><br>
        <br>

        <mat-card-subtitle>Personal Info</mat-card-subtitle>

        <mat-form-field appearance="outline">
            <mat-label>First name</mat-label>
            <input type="text" name="firstName" matInput required>
        </mat-form-field>
        <br>

        <mat-form-field appearance="outline">
            <mat-label>Last name</mat-label>
            <input type="text" name="lastName" matInput required>
        </mat-form-field>
        <br>

        <mat-form-field appearance="outline">
            <mat-label>Store name</mat-label>
            <input type="text" name="lastName" matInput required>
        </mat-form-field>
        <br>

        <mat-form-field appearance="outline">
            <mat-label>Phone</mat-label>
            <input type="number" name="phone" ngModel pattern="[- +()0-9]{10,50}" matInput required>
        </mat-form-field>
        <br>

        <mat-form-field appearance="outline">
            <mat-label>VAT</mat-label>
            <input type="number" name="vat" matInput required>
        </mat-form-field>
        <br>

        
        <button type="submit" mat-raised-button color="primary">Register</button>
        <br><br>
        <a [routerLink]="['/register/Customer']" class="btn btn-link">Switch to Customer account</a>
        <br>
        <br>
        <div>Already have an account?</div>
        <a [routerLink]="['/login']" class="btn btn-link">Login</a>
        <br>
    </form>
</mat-card>

<mat-card *ngIf="role=='Customer'">
    <mat-card-title class="card_title">Register {{role}}</mat-card-title>
    <form #userData="ngForm" class="registerForm">
        <mat-card-subtitle>Account</mat-card-subtitle>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input type="email" name="email" ngModel pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" matInput
                required>
        </mat-form-field>
        <br>

        <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input type="text" name="username" matInput required>
        </mat-form-field>
        <br>

        <div class="row">
            <div class="col-3">
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input type="password" name="password" matInput required>
                </mat-form-field>
            </div>

            <div class="col-3">
                <mat-form-field appearance="outline">
                    <mat-label>Confirm Password</mat-label>
                    <input type="password" name="passwordConfirm" matInput required>
                </mat-form-field>
            </div>
        </div>

        <mat-divider></mat-divider><br>
        <mat-card-subtitle>Personal Info</mat-card-subtitle>

        <mat-form-field appearance="outline">
            <mat-label>First name</mat-label>
            <input type="text" name="firstName" matInput required>
        </mat-form-field>
        <br>

        <mat-form-field appearance="outline">
            <mat-label>Last name</mat-label>
            <input type="text" name="lastName" matInput required>
        </mat-form-field>
        <br>

        <mat-form-field appearance="outline">
            <mat-label>Phone</mat-label>
            <input type="number" name="phone" ngModel pattern="[- +()0-9]{10,50}" matInput required>
        </mat-form-field>
        <br>
        <button type="submit" mat-raised-button color="primary">Register</button>
        <br><br>
        <a [routerLink]="['/register/Seller']" class="btn btn-link">Switch to Seller account</a>
        <br><br>
        <div>Already have an account?</div>
        <a [routerLink]="['/login']" class="btn btn-link">Login</a>
        <br>
    </form>
</mat-card>