<mat-card class="cardCustomer" *ngIf="profileType=='Customer'">
    <br>
    <mat-card-title class="card_title">{{profileType}} Profile</mat-card-title>
    <form #userData="ngForm">
        <mat-card-subtitle class="sub">Personal Info</mat-card-subtitle>
        <div class="row">
            <div class="col-6">
                <mat-form-field appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input type="text" name="firstName" matInput [disabled]="showDetails">
                </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input type="text" name="lastName" matInput [disabled]="showDetails">
                </mat-form-field>
            </div>
        </div>

        <br>

        <mat-divider class="divider"></mat-divider>

        <br>

        <div class="row">
            <div class="col-6">
                <mat-card-subtitle class="sub">Contact Info</mat-card-subtitle>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input type="email" name="email" matInput required [disabled]="showDetails">
                </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field appearance="outline">
                    <mat-label>Phone</mat-label>
                    <input type="text" name="phone" matInput required [disabled]="showDetails"
                        pattern="[- +()0-9]{10,50}">
                </mat-form-field>
            </div>
        </div>
        <br>

        <mat-divider></mat-divider>

        <br>
        <div class="row">
            <div class="col-6">
                <mat-card-subtitle class="sub">Optional Info</mat-card-subtitle>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <mat-form-field appearance="outline">
                    <mat-label>Address</mat-label>
                    <input type="text" name="address" matInput [disabled]="showDetails">
                </mat-form-field>
            </div>
        </div>
        <br>

        <button type="submit" mat-raised-button color="primary" class="saveButton">Save</button>
        <br>
        <br>
    </form>
</mat-card>

<mat-card class="cardSeller" *ngIf="profileType=='Seller'">
    <br>
    <mat-card-title class="card_title">{{profileType}} Profile</mat-card-title>
    <form #userData="ngForm">
            <div class="row">
                <div class="col-6">
                    <mat-card-subtitle class="sub">Personal Info</mat-card-subtitle>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input type="text" name="firstName" matInput [disabled]="showDetails">
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input type="text" name="lastName" matInput [disabled]="showDetails">
                    </mat-form-field>
                </div>
            </div>

        <br>

        <mat-divider class="divider"></mat-divider>

        <br>

        
            <div class="row">
                <div class="col-6">
                    <mat-card-subtitle class="sub">Contact Info</mat-card-subtitle>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input type="email" name="email" matInput required [disabled]="showDetails">
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Phone</mat-label>
                        <input type="text" name="phone" matInput required [disabled]="showDetails"
                            pattern="[- +()0-9]{10,50}">
                    </mat-form-field>
                </div>
            </div>
        <br>

        <mat-divider></mat-divider>

        <br>

            <div class="row">
                <div class="col-6">
                    <mat-card-subtitle class="sub">Store Info</mat-card-subtitle>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <mat-form-field appearance="outline">
                        <mat-label>Address</mat-label>
                        <input type="text" name="address" matInput [disabled]="showDetails">
                    </mat-form-field>
                </div>

                <div class="col-6">
                    <mat-form-field appearance="outline">
                        <mat-label>VATIN</mat-label>
                        <input type="number" name="vatin" matInput [disabled]="showDetails">
                    </mat-form-field>
                </div>
            </div>
        <br>

        <button type="submit" mat-raised-button color="primary" class="saveButton">Save</button>
        <br>
        <br>
    </form>
</mat-card>