.link {
    font-size      : large;
    text-decoration: none;
    color          : azure;
}

mat-icon {
    vertical-align: bottom;
    color         : white;
    padding-right : 5px;
}

.username {
    font-style: italic;
    font-size : large;
    color     : white;

}

.logout {
    position      : absolute;
    bottom        : 0;
    padding-bottom: 15px;
}

.mat-list-base {
    padding-top: 0;
}