<mat-nav-list>
    <a mat-list-item [routerLink]="['/home']" class="link">
        <mat-icon>home</mat-icon>&nbsp;Home
    </a>
    <div *ngIf="profileType=='Seller'">
        <a mat-list-item class="link" [routerLink]="['/store', 'orders']">
            <mat-icon>event_available</mat-icon>&nbsp;Store's Orders
        </a>
        <a mat-list-item class="link" [routerLink]="['/store', 'stock']">
            <mat-icon>people</mat-icon>&nbsp;Store's Stock
        </a>
    </div>
    <div *ngIf="profileType=='Customer'">
        <a mat-list-item class="link" [routerLink]="['/products']">
            <mat-icon>event_available</mat-icon>&nbsp;Products
        </a>
        <a mat-list-item class="link" [routerLink]="['/orders']">
            <mat-icon>people</mat-icon>&nbsp;My Orders
        </a>
    </div>
    <a mat-list-item (click)="logOut()" [routerLink]="['/']" class="logout link">
        <mat-icon>logout</mat-icon>&nbsp;Logout
    </a>
</mat-nav-list>