
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef> Id</th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
    

      <ng-container matColumnDef="StoreId">
        <th mat-header-cell *matHeaderCellDef> StoreId </th>
        <td mat-cell *matCellDef="let element"> {{element.storeId}} </td>
      </ng-container>
    
     
      <ng-container matColumnDef="OrderDate">
        <th mat-header-cell *matHeaderCellDef> OrderDate </th>
        <td mat-cell *matCellDef="let element"> {{element.orderDate}} </td>
      </ng-container>
    
     
      <ng-container matColumnDef="EstimatedDate">
        <th mat-header-cell *matHeaderCellDef> EstimatedDate </th>
        <td mat-cell *matCellDef="let element"> {{element.estimatedDate}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
    
