.headSection {
    width           : 100%;
    height          : 70px;
    background-color: #3f51b5;
}

.headText {
    text-align : center;
    font-size  : xx-large;
    padding-top: 25px;
    color      : white;
}

.loginForm {
    text-align: center;
}

.card{
    text-align: center;
}

.register {
    color: #3f51b5;
}

mat-card {
    margin       : 0 auto;
    width        : 20%;
    border-radius: 20px;
}

.card_title {
    text-align    : center;
    padding-bottom: 10px;
    color         : #3f51b5;
}

.textBox:hover {
    lighting-color: #3f51b5 !important;
}

body {
    background-color: rgb(179, 174, 178);
}

::ng-deep.mat-form-field-underline {
    background-color: #3f51b5 !important;
}

.saveButton {
    margin-top: 25px;
}

.role {
    margin-left: 100px;
    margin-right: 100px;
    width: auto;

}