<section class="headSection">
    <div class="headText">
        Mpoukalia me nero?
    </div>
</section>
<br><br>

<mat-card class="card">
    <mat-card-title class="card_title">Login</mat-card-title>
    <mat-card-content>
        <form #userData="ngForm" class="loginForm" (ngSubmit)="onSubmit(userData.value)">
            <mat-form-field appearance="outline" class="textBox">
                <mat-label>Username</mat-label>
                <input type="text" name="username" matInput class="textBox">
            </mat-form-field>

            <br>

            <mat-form-field appearance="outline" class="textBox">
                <mat-label>Password</mat-label>
                <input type="password" name="password" ngModel matInput>
            </mat-form-field>
            <br>

            <mat-card-actions>
                <button type="submit" mat-raised-button color="primary" class="saveButton">Login</button>
            </mat-card-actions>
        </form>

        <mat-divider></mat-divider>
        <br>
        <div>You don't have an account?</div>
        <br>
        <mat-label>I am a:</mat-label>
        <mat-select id="roleSelect" name="role" class="form-control role" [(ngModel)]="selectedRole">
            <mat-option *ngFor="let role of roles" [value]="role.value" class="optionStatus">
                {{role.type}}
            </mat-option>
        </mat-select>
        <div>
            <a (click)="goToRegister()" class="btn btn-link register">Register</a>
        </div>
    </mat-card-content>
</mat-card>