<mat-toolbar color='primary' class='navbar'>
    <div style="position: absolute; right:0px;">
        <span>
            <a [routerLink]="[cartPath]" class="link">
                <mat-icon matTooltip={{cartTooltipText}}>{{icon}}</mat-icon>
            </a>
        </span>
        &nbsp;
        <span>
            <a [routerLink]="[ '/profile/']" class="link">
                <mat-icon matTooltip={{userTooltipText}}>person</mat-icon>{{username}}
            </a>
        </span>
        &nbsp;&nbsp;&nbsp;&nbsp;
    </div>
</mat-toolbar>